.wrapper {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 50%;
  justify-content: center;
  width: calc(100vw - 60px);
  max-width: 360px;
  background: rgba(49, 49, 49, 1);
  box-shadow: 0 0 10px rgba(49, 49, 49, 1);
  transform: translateX(-50%);
  a {
    width: 100%;
  }
  @media (min-width: 850px) {
    display: none;
  }
}
