.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

@mixin scrollPadding($paddingSize) {
  margin-top: #{-$paddingSize};
  padding-top: $paddingSize;
}

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: color 0.3s 0.5s ease-in-out;

  &:global(.navigated) {
    color: #ff7b42;
  }

  @include scrollPadding(50px);

  @media (min-width: 992px) {
    margin-right: 45px;
    flex-grow: 1;
    @include scrollPadding(200px);
  }
}

.table {
  @media (min-width: 992px) {
    max-width: 360px;
    flex-grow: 0;
    flex-basis: 360px;
    flex-shrink: 0;
  }
}

.columnHeaders {
  display: flex;
  gap: 5px;
  @media (min-width: 992px) {
    gap: 25px;
  }
}

.columnHeader {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  &.right {
    justify-content: flex-end;
  }
  &.left {
    justify-content: flex-start;
  }
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.5em;
}

.row {
  display: flex;
  width: 100%;
  padding: 9px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #676767;
  }
  gap: 5px;
  @media (min-width: 992px) {
    gap: 25px;
  }
}

.cell {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: flex-start;
  &.right {
    justify-content: flex-end;
  }
  &.middle {
    justify-content: center;
  }
  &.left {
    justify-content: flex-start;
  }
  sup {
    font-size: smaller;
  }
}

.plus {
  display: flex;
  position: relative;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  padding-top: 0.25em;
  border: none;
  outline: none;
  color: #fff;
  background: none;
  &:hover .popover {
    display: block;
  }
}

.circle {
  position: absolute;
  top: -10px;
  left: -20px;
}

.popover {
  width: 249px;
  padding: 10px 10px;
  border-radius: 10px;
  background: rgb(87, 87, 87);
  display: flex;
  position: absolute;
  top: -20px;
  left: 0;
  transform: translate(-50%, -100%);

  .text {
    font-size: 16px;
    text-align: left;
    line-height: 19px;
  }
  .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20px;
  }
}

.currency {
  font-family: "Roboto Mono", "Roboto", monospace;
  font-size: 16px;
  &.padAbsentPlus {
    padding-right: 10px;
  }
  .value,
  .currency {
    margin-right: 3px;
  }
}
