.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 850px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  @media (min-width: 850px) {
    margin-right: 45px;
    flex-grow: 1;
  }
}

.table {
  @media (min-width: 850px) {
    max-width: 360px;
    flex-grow: 0;
    flex-basis: 360px;
    flex-shrink: 0;
  }
}

.columnHeaders {
  display: flex;
  gap: 5px;
  @media (min-width: 850px) {
    gap: 25px;
  }
}

.columnHeader {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  &.right {
    justify-content: flex-end;
  }
  &.left {
    justify-content: flex-start;
  }
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.5em;
}

.row {
  display: flex;
  width: 100%;
  padding: 9px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #676767;
  }
  gap: 5px;
  @media (min-width: 850px) {
    gap: 25px;
  }
}

.cell {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: flex-start;
  &.right {
    justify-content: flex-end;
  }
  &.middle {
    justify-content: center;
  }
  &.left {
    justify-content: flex-start;
  }
  sup {
    font-size: smaller;
  }
}

.plus {
  display: flex;
  position: relative;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  padding-top: 0.25em;
  border: none;
  outline: none;
  color: #fff;
  background: none;
  &:hover .popover {
    display: block;
  }
}

.popover {
  width: 249px;
  padding: 17px 10px;
  border-radius: 10px;
  background: rgb(87, 87, 87);
  display: none;
  &[data-show="true"] {
    display: block;
  }

  &[data-popper-placement^="top-start"] {
    border-bottom-left-radius: 0;
    .triangle {
      transform: translate(-4px, 17px);
    }
    .circle {
      transform: translate(-14px, 30px);
    }
  }
  &[data-popper-placement^="top-end"] {
    border-bottom-right-radius: 0;
    .triangle {
      transform: translate(-16px, 17px);
    }
    .circle {
      transform: translate(-26px, 30px);
    }
  }

  .text {
    font-size: 16px;
    text-align: left;
    line-height: 19px;
    margin-bottom: 19px;
  }
  .triangle {
    position: absolute;
    width: 20px;
  }
  .circle {
    top: 0;
    left: 0;
    position: absolute;
  }
}

.currency {
  font-family: "Roboto Mono", "Roboto", monospace;
  font-size: 16px;
  &.padAbsentPlus {
    padding-right: 10px;
  }
  @media (min-width: 850px) {
    .value,
    .currency {
      margin-right: 3px;
    }
  }
}
